In [34]:
import pandas as pd
import openpyxl

In [33]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ------ -------------------------------- 41.0/250.9 kB 653.6 kB/s eta 0:00:01
   ----------------- ---------------------- 112.6/250.9 kB 1.6 MB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 1.9 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.1.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
gotnya_analys = pd.read_csv(r"C:\Users\66910\Downloads\BGD_Winter_Explore\step 4\3_heatig_period.csv")

In [19]:
gotnya_analys.reset_index(inplace=True)
gotnya_analys.columns = ["start","end","long","minday", "minfday", "meanperiod", "gsop","del"]
gotnya_analys

,start,end,long,minday,minfday,meanperiod,gsop,del
0,[('10/03/1936','04/20/1937',199,-21.0,-18.76,-1.93,3966.0),NaN
1,('10/05/1937','04/20/1938',197,-17.1,-14.82,-1.01,3745.0),NaN
2,('10/27/1938','04/09/1939',164,-19.2,-18.36,-2.97,3439.0),NaN
3,('09/27/1939','04/19/1940',205,-32.4,-27.02,-3.99,4508.0),NaN
4,('10/02/1945','04/22/1946',202,-19.5,-17.88,-2.44,4129.0),NaN
...,...,...,...,...,...,...,...,...
72,('09/23/2016','04/05/2017',194,-20.5,-15.32,-0.85,3657.0)],NaN
73,('09/30/2017','04/09/2018',191,-16.8,-15.26,-0.69,3570.0),NaN
74,('09/30/2018','04/09/2019',191,-16.9,-10.92,-0.12,3461.0),NaN
75,('09/24/2019','03/08/2020',166,-10.5,-8.10,2.73,2535.0),NaN
76,('10/21/2020','04/13/2021',174,-20.9,-17.46,-1.13,3329.0)],NaN

In [20]:
gotnya_analys = gotnya_analys[["start","end","long","minday", "minfday", "meanperiod", "gsop"]]
gotnya_analys

,start,end,long,minday,minfday,meanperiod,gsop
0,[('10/03/1936','04/20/1937',199,-21.0,-18.76,-1.93,3966.0)
1,('10/05/1937','04/20/1938',197,-17.1,-14.82,-1.01,3745.0)
2,('10/27/1938','04/09/1939',164,-19.2,-18.36,-2.97,3439.0)
3,('09/27/1939','04/19/1940',205,-32.4,-27.02,-3.99,4508.0)
4,('10/02/1945','04/22/1946',202,-19.5,-17.88,-2.44,4129.0)
...,...,...,...,...,...,...,...
72,('09/23/2016','04/05/2017',194,-20.5,-15.32,-0.85,3657.0)]
73,('09/30/2017','04/09/2018',191,-16.8,-15.26,-0.69,3570.0)
74,('09/30/2018','04/09/2019',191,-16.9,-10.92,-0.12,3461.0)
75,('09/24/2019','03/08/2020',166,-10.5,-8.10,2.73,2535.0)
76,('10/21/2020','04/13/2021',174,-20.9,-17.46,-1.13,3329.0)]

In [22]:
# удаляем ненужные символы
gotnya_analys['start'] = gotnya_analys['start'].str.replace("(", '')
gotnya_analys['start'] = gotnya_analys['start'].str.replace(")", '')
gotnya_analys['start'] = gotnya_analys['start'].str.replace("'", '')
gotnya_analys['start'] = gotnya_analys['start'].str.replace("[", '')
gotnya_analys['start'] = gotnya_analys['start'].str.replace("/", '-')
gotnya_analys['gsop'] = gotnya_analys['gsop'].str.replace(")", '')
gotnya_analys['gsop'] = gotnya_analys['gsop'].str.replace("]", '')
gotnya_analys['end'] = gotnya_analys['end'].str.replace("(", '')
gotnya_analys['end'] = gotnya_analys['end'].str.replace(")", '')
gotnya_analys['end'] = gotnya_analys['end'].str.replace("'", '')
gotnya_analys['end'] = gotnya_analys['end'].str.replace("[", '')
gotnya_analys['end'] = gotnya_analys['end'].str.replace("/", '-')
gotnya_analys

C:\Users\66910\AppData\Local\Temp\ipykernel_24252\1816890740.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gotnya_analys['start'] = gotnya_analys['start'].str.replace("(", '')
C:\Users\66910\AppData\Local\Temp\ipykernel_24252\1816890740.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gotnya_analys['start'] = gotnya_analys['start'].str.replace(")", '')
C:\Users\66910\AppData\Local\Temp\ipykernel_24252\1816890740.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gotnya_analys['start'] = gotnya_analys['start'].str.replace("'", '')
C:\Users\66910\AppData\Local\Temp\ipykernel_24252\1816890740.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gotnya_analys['start'] = gotnya_analys['start'].str.replace("[", '')
C:\Users\66910\AppData\Local\Temp\ipykernel_24252\1816890740.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gotnya_analys['start'] = gotnya_analys['start'].str.replace("/", '-')
C:\Users\66910\AppData\Local\Temp\ipykernel_24252\1816890740.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gotnya_analys['gsop'] = gotnya_analys['gsop'].str.replace(")", '')
C:\Users\66910\AppData\Local\Temp\ipykernel_24252\1816890740.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gotnya_analys['gsop'] = gotnya_analys['gsop'].str.replace("]", '')
C:\Users\66910\AppData\Local\Temp\ipykernel_24252\1816890740.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gotnya_analys['end'] = gotnya_analys['end'].str.replace("(", '')
C:\Users\66910\AppData\Local\Temp\ipykernel_24252\1816890740.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gotnya_analys['end'] = gotnya_analys['end'].str.replace(")", '')
C:\Users\66910\AppData\Local\Temp\ipykernel_24252\1816890740.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gotnya_analys['end'] = gotnya_analys['end'].str.replace("'", '')
C:\Users\66910\AppData\Local\Temp\ipykernel_24252\1816890740.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gotnya_analys['end'] = gotnya_analys['end'].str.replace("[", '')
C:\Users\66910\AppData\Local\Temp\ipykernel_24252\1816890740.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gotnya_analys['end'] = gotnya_analys['end'].str.replace("/", '-')

          start          end  long  minday  minfday  meanperiod     gsop
0    10-03-1936   04-20-1937   199   -21.0   -18.76       -1.93   3966.0
1    10-05-1937   04-20-1938   197   -17.1   -14.82       -1.01   3745.0
2    10-27-1938   04-09-1939   164   -19.2   -18.36       -2.97   3439.0
3    09-27-1939   04-19-1940   205   -32.4   -27.02       -3.99   4508.0
4    10-02-1945   04-22-1946   202   -19.5   -17.88       -2.44   4129.0
..          ...          ...   ...     ...      ...         ...      ...
72   09-23-2016   04-05-2017   194   -20.5   -15.32       -0.85   3657.0
73   09-30-2017   04-09-2018   191   -16.8   -15.26       -0.69   3570.0
74   09-30-2018   04-09-2019   191   -16.9   -10.92       -0.12   3461.0
75   09-24-2019   03-08-2020   166   -10.5    -8.10        2.73   2535.0
76   10-21-2020   04-13-2021   174   -20.9   -17.46       -1.13   3329.0

[77 rows x 7 columns]

In [28]:
gotnya_analys["start"] = gotnya_analys["start"].str.strip()
gotnya_analys["end"] = gotnya_analys["end"].str.strip()
gotnya_analys["start"] = pd.to_datetime(gotnya_analys["start"],format='%m-%d-%Y')
gotnya_analys["end"] = pd.to_datetime(gotnya_analys["end"],format='%m-%d-%Y')

C:\Users\66910\AppData\Local\Temp\ipykernel_24252\1465253530.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gotnya_analys["start"] = gotnya_analys["start"].str.strip()
C:\Users\66910\AppData\Local\Temp\ipykernel_24252\1465253530.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gotnya_analys["end"] = gotnya_analys["end"].str.strip()
C:\Users\66910\AppData\Local\Temp\ipykernel_24252\1465253530.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gotnya_analys["start"] = pd.to_datetime(gotnya_analys["start"],format='%m-%d-%Y')
C:\Users\66910\AppData\Local\Temp\ipykernel_24252\1465253530.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gotnya_analys["end"] = pd.to_datetime(gotnya_analys["end"],format='%m-%d-%Y')

In [29]:
gotnya_analys.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   start       77 non-null     datetime64[ns]
 1   end         77 non-null     datetime64[ns]
 2   long        77 non-null     int64
 3   minday      77 non-null     float64
 4   minfday     77 non-null     float64
 5   meanperiod  77 non-null     float64
 6   gsop        77 non-null     object
dtypes: datetime64[ns](2), float64(3), int64(1), object(1)
memory usage: 4.3+ KB

In [30]:
gotnya_analys

        start        end  long  minday  minfday  meanperiod     gsop
0  1936-10-03 1937-04-20   199   -21.0   -18.76       -1.93   3966.0
1  1937-10-05 1938-04-20   197   -17.1   -14.82       -1.01   3745.0
2  1938-10-27 1939-04-09   164   -19.2   -18.36       -2.97   3439.0
3  1939-09-27 1940-04-19   205   -32.4   -27.02       -3.99   4508.0
4  1945-10-02 1946-04-22   202   -19.5   -17.88       -2.44   4129.0
..        ...        ...   ...     ...      ...         ...      ...
72 2016-09-23 2017-04-05   194   -20.5   -15.32       -0.85   3657.0
73 2017-09-30 2018-04-09   191   -16.8   -15.26       -0.69   3570.0
74 2018-09-30 2019-04-09   191   -16.9   -10.92       -0.12   3461.0
75 2019-09-24 2020-03-08   166   -10.5    -8.10        2.73   2535.0
76 2020-10-21 2021-04-13   174   -20.9   -17.46       -1.13   3329.0

[77 rows x 7 columns]

In [38]:
gotnya_analys.to_csv("gotnya_ready_full.csv", index=False)

In [36]:
gotnya_analys

        start        end  long  minday  minfday  meanperiod     gsop
0  1936-10-03 1937-04-20   199   -21.0   -18.76       -1.93   3966.0
1  1937-10-05 1938-04-20   197   -17.1   -14.82       -1.01   3745.0
2  1938-10-27 1939-04-09   164   -19.2   -18.36       -2.97   3439.0
3  1939-09-27 1940-04-19   205   -32.4   -27.02       -3.99   4508.0
4  1945-10-02 1946-04-22   202   -19.5   -17.88       -2.44   4129.0
..        ...        ...   ...     ...      ...         ...      ...
72 2016-09-23 2017-04-05   194   -20.5   -15.32       -0.85   3657.0
73 2017-09-30 2018-04-09   191   -16.8   -15.26       -0.69   3570.0
74 2018-09-30 2019-04-09   191   -16.9   -10.92       -0.12   3461.0
75 2019-09-24 2020-03-08   166   -10.5    -8.10        2.73   2535.0
76 2020-10-21 2021-04-13   174   -20.9   -17.46       -1.13   3329.0

[77 rows x 7 columns]